*,body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    height: 10vh;
    width: 100vw;
    padding-top: 15px;
    justify-content: flex-end;
}
header nav{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    width: 14em;
    padding: 0px 9px 0px 15px;
}
header nav a{
    display: flex;
    align-items: center;
    color: rgb(48, 47, 47);
    font-size: 13px;
    height:100%;
    text-decoration: none;
    padding-right: 5px;
}
header nav a:hover{
    text-decoration: underline;
}
header nav a:nth-child(2){
    padding-right: 7px;
}
header nav a:nth-child(3){
    padding-left: 7px;
}
header nav a i{
    padding-left: 5px;
    margin-left: 5px;
}
.bloquear{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    

}
main section.principal{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
}
main section article.img{
    align-self:flex-start;
    height: 100%;
}
main section article.compartir{
    align-self: center;
    color:cyan;
}
main section img{
    height: 92px;
    margin: 0px;
    padding-right: 25px;
    width: 272px;
}
main section.buscador{
    height: 10%;
    width: auto;
    position: relative;
}
.barraBusqueda{
    border:solid 0.5px rgb(228, 226, 226);
    outline: none;
    border-radius: 15px;
    padding-left: 30px;
    height: 34px;
    width: 487px;
}
.barraBusqueda:hover{
    border-bottom: solid 1.4px #ccc;
    border-left: solid 1.4px #ccc;
    border-right: solid 1.4px #ccc;
}
main section img.botonVoz{
    width: 45px;
    height: 15px;
    position: absolute;
    right: 0;
    top: .7em;
}
main section input.barraBusqueda{
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
}

main section.botones{
    color: rgb(48, 47, 47);
    display: flex;
    justify-content: center;
    font-size: 13px;
    height: 50%;
    padding-top: 20px;
    width: 100%;
}
main section.botones article{
    border-radius: 3px;
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
}
main section.botones article:hover{
    border: solid 1.4px #ccc;
}
main section.botones article:first-child{
    margin-right: 9px;
}
main section.botones article:nth-child(2){
    margin-left: 9px;
}
main section.preFooter{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
}
main section p{
    color: rgb(143, 142, 142);
    padding-left: 30px;
}
footer{
    border-top: solid 1.4px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
}
footer section{
    justify-content:space-around;
    padding-left: 20px;
    padding-right: 20px;
}
footer section a{
    color: rgb(129, 128, 128);
    font-size: 14px;
    text-decoration: none;
    margin: 0 4px 0 4px;
}
footer section a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 400px) {
    main section.buscador{
        
        width: 350px;
        
    }
    main section.buscador .barraBusqueda{
        width: 350px;
    }
}
@media screen and (max-width: 480px) {
    header nav{
        justify-content: space-between;
        width: 100%;
    }
    header nav .espacio{
        margin-right: 6rem;
    }
    .bloquear{
        display: inline;
        display: flex;
        align-items: center;
    }
    .barraBusqueda{
        width: 430px;
    }
    footer{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 5vh;
    }
    footer .desaparecer{
        position: absolute;
        display: none;
    }
}
@media screen and (max-width: 770px) {
    footer{
        display: flex;
        flex-direction: column;
    }
}

